.banner {
  width: 100%;
  position: relative;
}
.home {
  padding: 0%;
  width: 100%;
  max-width: 100%;
}
.bannerTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 36px;
  color: white;
  font-size: x-large;
}
h1 {
  color: white;
}
table {
  border-color: white;
  border-style: solid;
  width: 100%;
  margin-top: 16px;
}

tr {
  border-color: white;
  border-style: solid;
  border-collapse: collapse;
}

th {
  text-align: start;
}
img {
  width: 100%;
  filter: brightness(0.5);
  margin-left: 12px;
  margin-right: 12px;
}
